<div class="card-container">
  <mat-card class="us-card" [style.minHeight]="'100%'" [style.minWidth]="'45%'">
    <mat-card-header>
      <mat-card-title>User Stories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list #storyList>
        <mat-list-option *ngFor="let story of stories;let i = index" (click)="getStoryTestCases(i,story.id);loadTestCasesData(i)">
          {{story.description}}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="tc-card" [style.minHeight]="'100%'" [style.minWidth]="'45%'">
    <mat-card-header style="width: 100%" class="executor-testcases">
      <mat-card-title class="executor-testcases-card-header">Test Cases 
        <button mat-stroked-button (click)="viewAssignedAgents()">
        <i class="fas fa-user-secret" style="margin-right: 7px"></i>
        <span><span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">Assigned Agents</span></span>
      </button>
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng2-smart-table
      class="testcases-table"
      [settings]="settings"
      (custom)="executeTestCase($event)"
      [source]="source"
      #table></ng2-smart-table>
    </mat-card-content>
  </mat-card>
</div>