<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
  <mat-toolbar color="primary">
      <span>{{ selectedProject.projectName }}</span>
      <button mat-button [matMenuTriggerFor]="projects">
        <i class="fas fa-edit"></i>
      </button>
    </mat-toolbar>

    <mat-menu #projects="matMenu" style="min-width: 120px">
        <ng-container *ngFor="let project of projectList">
          <button mat-menu-item (click)="getProjectSprints(project.id)">
            {{ project.projectName }}
          </button>
        </ng-container>
      </mat-menu>

    <div class="sidenav-content-tc">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let sprint of sprints">
          <div class="sprints_list">
            <button mat-button (click)="selectSprint(sprint)">{{ sprint.sprintName }}</button>
            <button mat-button (click)="executeSprint(sprint.id)">
              <i class="fas fa-play sprint-play-btn"></i>
            </button>
          </div>
        </mat-list-item>
      </mat-list>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <button mat-button routerLink="/" routerLinkActive="active">
          WhiteBoard
        </button>
        <button mat-button routerLink="/testcases" routerLinkActive="active">
          Test Cases
        </button>
        <button mat-button routerLink="/executor" routerLinkActive="active">
          Executor
        </button>
        <button mat-button routerLink="/reports" routerLinkActive="active">
          Reports
        </button>
      </div>
      <div style="margin-left: auto">
        <button mat-button (click)="addAgent()">
            <i class="fas fa-user-secret" style="margin-right: 7px"></i>
          <span>Agent</span>
        </button>
      </div>
    </mat-toolbar>
    <app-executor-view-content *ngIf="showExecutionView" [sprintID]="selectedSprintID"></app-executor-view-content>
  </mat-sidenav-content>
</mat-sidenav-container>
