<br />
<br />
<div class="execution-inst-ls-div">
    <mat-form-field>
      <mat-label>Execution Instance</mat-label>
      <mat-select [(value)]="selectedInstanceID">
        <mat-option *ngFor="let inst of execInstances" [value]="inst.id" (click)="selectInstance(inst)">
          {{ inst.executionTime }}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
<br />
<div>
  <table class="story-test-cases-details">
    <tr>
      <td class="story-test-cases-details-title">Execution Instance </td>
      <td style="display: flex;">{{ selectedInstance.executionInstance ? selectedInstance.executionInstance : "" }}</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Agent </td>
      <td style="display: flex;">
        <div *ngIf="selectedInstance && selectedInstance.agent">
          <i class="fab fa-windows" *ngIf="selectedInstance.agent.platform == 'windows'" style="margin-right: 7px"></i>
          <i class="fab fa-linux" *ngIf="selectedInstance.agent.platform == 'linux'" style="margin-right: 7px"></i>
          <i class="fab fa-apple" *ngIf="selectedInstance.agent.platform == 'mac'" style="margin-right: 7px"></i>
  
          <i class="fab fa-chrome" *ngIf="selectedInstance.agent.browser == 'chrome'" style="margin-right: 7px"></i>
          <i class="fab fa-firefox" *ngIf="selectedInstance.agent.browser == 'firefox'" style="margin-right: 7px"></i>
          <i class="fab fa-internet-explorer" *ngIf="selectedInstance.agent.browser == 'internetexplorer'" style="margin-right: 7px"></i>
          <i class="fab fa-safari" *ngIf="selectedInstance.agent.browser == 'safari'" style="margin-right: 7px"></i>
        </div>
        {{ selectedInstance && selectedInstance.agent ? selectedInstance.agent.name : "" }}</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Test Case ID</td>
      <td>{{ testCase.no ? testCase.no.toUpperCase() : "" }}</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Test Case Title</td>
      <td>{{ testCase.title ? testCase.title : "" }}</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Scenario</td>
      <td>
        {{
          testCase.acceptanceCriteria
            ? testCase.acceptanceCriteria.acceptanceCriteria
            : ""
        }}
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Executed Date</td>
      <td>
        {{ selectedInstance.executionTime ? selectedInstance.executionTime : "" }}
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Expected Result</td>
      <td [ngClass]="{'pass': testCase.expectedResult == 'PASS', 'fail': testCase.expectedResult == 'FAIL'}">
        {{ testCase.expectedResult ? testCase.expectedResult : "" }}
      </td>
    </tr>
    <tr>
        <td class="story-test-cases-details-title">Actual Result</td>
        <td [ngClass]="{'pass': selectedInstance.result == 'PASS', 'fail': selectedInstance.result == 'FAIL'}">
          {{ selectedInstance.result ? selectedInstance.result : "" }}
        </td>
      </tr>
    <tr>
        <td class="story-test-cases-details-title">Test Case Status</td>
        <td [ngClass]="{'pass': selectedInstance.status == 'PASS', 'fail': selectedInstance.status == 'FAIL'}">
          {{ selectedInstance.status ? selectedInstance.status : "" }}
        </td>
      </tr>
  </table>
</div>
<br />
<!-- <button mat-raised-button><i class="fas fa-play"></i></button> -->
<br />
<div style="width: 75%">
  <ng2-smart-table
    class="testcases-table"
    [settings]="settings"
    [source]="source"
  ></ng2-smart-table>
</div>
