.ustory-data {
    display: flex;
    flex-direction: column;
}

.example-full-width {
    width: 100%;
}

.add-new-ac {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {
    height: calc(100% - 52px);
}

.ac-item {
    width: 100%
}