<br />
<br />
<br />
<div>
  <table class="story-test-cases-details">
    <tr>
      <td class="story-test-cases-details-title">Project Name</td>
      <td>FYP</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Sprint</td>
      <td>Sprint 1</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Story</td>
      <td>
        As a site admin, I can enter my username and password to a form so that
        I can login.
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Date Generated</td>
      <td>
        13/04/2019
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Last Tested Date</td>
      <td>
        13/04/2019
      </td>
    </tr>
  </table>
</div>
<br />
<br />
<div>
  <ng2-smart-table
    class="testcases-table"
    [settings]="settings"
    [source]="source"
  ></ng2-smart-table>
</div>
