<nb-card size="medium">
  <nb-card-header>
    User Stories
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let story of userStories" (click)="showTestSteps(story)">
      {{ story.description }}
      <button nbButton size="xsmall" (click)="$event.stopPropagation();executeUserStory(story.id);"><i class="fas fa-play"></i></button>
      <button nbButton size="xsmall" (click)="$event.stopPropagation();openRecordDialog(story.id);"><i class="fas fa-video"></i></button>
    </nb-list-item>
  </nb-list>
</nb-card>



<!-- <nb-layout>
  <nb-layout-header>FYP-User Story Test Automater</nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        Epics
      </nb-card-header>
      <input nbInput #search class="search" type="text" placeholder="Search..." (keydown)="onSearch(search.value)">
      <ng2-smart-table
        [settings]="settings" 
        [source]="source"
      ></ng2-smart-table>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        User Stories
      </nb-card-header>
      <ng2-smart-table
        [settings]="settings"
        [source]="userStories"
      ></ng2-smart-table>
    </nb-card>
  </nb-layout-column>
</nb-layout> -->
