<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color = "primary">Project</mat-toolbar>
    <mat-nav-list>
      <h3 mat-subheader>Sprints</h3>
      <a mat-list-item href="#">Sprint 1</a>
      <a mat-list-item href="#">Sprint 2</a>
      <a mat-list-item href="#">Sprint 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
          <button mat-button routerLink="/" routerLinkActive="active">WhiteBoard</button>
          <button mat-button routerLink="/testcases" routerLinkActive="active">Test Cases</button>
          <button mat-button routerLink="/executor" routerLinkActive="active">Executor</button>
          <button mat-button routerLink="/reports" routerLinkActive="active">Reports</button>
      </div>
    </mat-toolbar>
    <app-userstory-list></app-userstory-list>
  </mat-sidenav-content>
</mat-sidenav-container>
