<br />
<br />
<br />
<div>
  <table class="story-test-cases-details">
    <tr>
      <td class="story-test-cases-details-title">Test Case ID</td>
      <td>{{ testCase.no ? (testCase.no).toUpperCase() : '' }}</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Test Case Title</td>
      <td>{{ testCase.title ? testCase.title : '' }}</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Scenario</td>
      <td>
        {{ testCase.acceptanceCriteria ? testCase.acceptanceCriteria.acceptanceCriteria : '' }}
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Date Generated</td>
      <td>
        {{ testCase.dateGenerated ? testCase.dateGenerated : '' }}
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Last Executed Date</td>
      <td>
        {{ testCase.lastExecutedDate ? testCase.lastExecutedDate : '' }}
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Expected Result</td>
      <td>
        {{ testCase.expectedResult ? testCase.expectedResult : '' }}
      </td>
    </tr>
  </table>
</div>
<br />
<!-- <button mat-raised-button><i class="fas fa-play"></i></button> -->
<br />
<div style="width: 75%">
  <ng2-smart-table
    class="testcases-table"
    [settings]="settings"
    [source]="source"
  ></ng2-smart-table>
</div>
