<br />
<br />
<br />
<div>
  <table class="story-test-cases-details">
    <tr>
      <td class="story-test-cases-details-title">Test Case ID</td>
      <td>TC_01</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Test Case Title</td>
      <td>Username is entered</td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Scenario</td>
      <td>
          Username should be entered.
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Date Generated</td>
      <td>
        13/04/2019
      </td>
    </tr>
    <tr>
      <td class="story-test-cases-details-title">Last Executed Date</td>
      <td>
        13/04/2019
      </td>
    </tr>
  </table>
</div>
<br />
<!-- <button mat-raised-button><i class="fas fa-play"></i></button> -->
<br />
<div>
  <ng2-smart-table
    class="testcases-table"
    [settings]="settings"
    [source]="source"
  ></ng2-smart-table>
</div>
