<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar color = "primary">
          <span>Project Login - Sprint 1</span>
          <button mat-button [matMenuTriggerFor]="projects"><i class="fas fa-edit"></i></button>
      </mat-toolbar>

      <mat-menu #projects="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="project1">Project 1</button>
          <button mat-menu-item [matMenuTriggerFor]="project2">Project 2</button>
        </mat-menu>
        
        <mat-menu #project1="matMenu">
          <button mat-menu-item>Spring 1</button>
          <button mat-menu-item>Spring 2</button>
          <button mat-menu-item>Spring 3</button>
          <button mat-menu-item>Spring 4</button>
        </mat-menu>
        
        <mat-menu #project2="matMenu">
          <button mat-menu-item>Spring 1</button>
          <button mat-menu-item>Spring 2</button>
          <button mat-menu-item>Spring 3</button>
          <button mat-menu-item>Spring 4</button>
        </mat-menu>
        
       
      <div class="sidenav-content-tc">
          <tree-root #tree class="story-tree" [nodes]="nodes" [options]="options"></tree-root>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>
            <button mat-button routerLink="/" routerLinkActive="active">WhiteBoard</button>
            <button mat-button routerLink="/testcases" routerLinkActive="active">Test Cases</button>
            <button mat-button routerLink="/executor" routerLinkActive="active">Executor</button>
            <button mat-button routerLink="/reports" routerLinkActive="active">Reports</button>
        </div>
      </mat-toolbar>
      <app-story-test-cases *ngIf="isStoryView" [storyID]="storyID"></app-story-test-cases>
      <app-test-case-details *ngIf="isTestCaseView" [testCaseID]="testCaseID"></app-test-case-details>
    </mat-sidenav-content>
  </mat-sidenav-container>
  